mixin header()
    .header
        .header_content
            .header_circle
            .header_circle
            .header_circle
        .header_logo
            svg.header_logo(xmlns='http://www.w3.org/2000/svg', width='35', height='35', viewBox='0 0 35 35')
                path#Grooveshark_logo.cls-1(data-name='Grooveshark logo', d='M409.5,128.989A17.49,17.49,0,1,1,427,111.5,17.5,17.5,0,0,1,409.5,128.989Zm0.293-31.478a13.556,13.556,0,0,0-13.667,10.68s-1.938,7.514,2.885,6.143c0,0,6.952-2.646,4.209-13.042A14.011,14.011,0,0,1,413.244,108s6.716,11.436,9.553,5.907C422.8,113.909,426.485,100.252,409.792,97.511Z', transform='translate(-392 -94)', fill="#fff", fill-rule='evenodd')
