@font-face {
    font-family: 'SegoeUI';
    src: url("SegoeUI.eot"); /* IE9*/
    src: url("SegoeUI.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("SegoeUI.woff") format("woff"), /* chrome、firefox */
         url("SegoeUI.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("SegoeUI.svg#Segoe UI") format("svg"); /* iOS 4.1- */
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'SegoeUIBold';
    src: url("SegoeUIBold.eot"); /* IE9*/
    src: url("SegoeUIBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("SegoeUIBold.woff") format("woff"), /* chrome、firefox */
         url("SegoeUIBold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("SegoeUIBold.svg#Segoe UI") format("svg"); /* iOS 4.1- */
    font-style: normal; 
    font-weight: bold; 
}

body {
    font-family: 'SegoeUI', Arial, sans-serif;
    text-align: center;
}

header {
    background: #23232e;
    width: 1920px;
    height: 856px;
    color: #ffffff;
}

main {
    background-image: url(bgimage.jpg);
    width: 1920px;
    height: 1040px;
    color: #464b4f;
    font-size: 10px;
    padding-top: 174px;
}

h1 {
    font-family: 'SegoeUIBold', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 80px;
}

.divheader h1,
.divheader p {
    margin: 0 auto 60px;
}

.divheader h1{
    width: 780px;
}

.divheader p {
    font-size: 18px;
    width: 458px;
    line-height: 30px;
    margin-bottom: 0px;
}

.img {
    width: 140px;
    height: 134px;
    margin: 80px auto 180px;
}

.img2 {
    width: 45px;
    height: 45px;
    margin-top: 174px; 
}

.divmain {
    width: 860px;
    font-size: 30px;
    line-height: 42px;
    padding:0;
    margin: 0 auto 50px;
}

aside {
    display: inline-block;
    margin: 100px 15px 0;
    width: 300px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}

h4 {
    font-family: 'SegoeUIBold', Arial, sans-serif;
    font-size: 18px;
    margin: 0 0 30px;
}

h1.h1wrap {
    margin:0;
}

p.firstp {
    margin-bottom: 70px;
    margin-top: 0px;
}

p.secondp {
    margin-bottom: 0px;
    margin-top: 0px;
}
