include ../social/social.pug

mixin footer()
    .footer.layout
        .footer_content.layout_section
            .footer_h1 Bhromaon
            .footer_h2 Safe Travel Anywhere
            .footer_social
                +social()