mixin footer()
    .footer.layout_section
        .footer_content
            audio(controls src="track/0C2E32249BA5AE27927F1D92DFB5A644.mp3" type="audio/mpeg")
        .footer_h1 sdjfkldsjahfsdjk