mixin nav()
    .nav.layout
        .nav_content.layout_section
            .nav_h1 Bhromaon
            .nav_menu
                a.nav_link(href="#") Who We Are
                a.nav_link(href="#") What We Do
                a.nav_link(href="#") Travel With Us
                a.nav_link(href="#") Contact Us
