mixin content()
    .content
        .content_album
            .content_image
                img.content_picture._contentPicture(src="img/placeholder.png", alt="")
            .content_name._contentName track name
            .content_author._contentAuthor author
        .content_list
            ul.content_song._contentSong
            template._template
                li.content_track
                    div._contentButton
                        svg.content_play._contentPlay(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14")
                            path.cls-2(d="M437,165.984h0a1.579,1.579,0,0,1-1.031,1.372s-10.281,4.9-10.969,5.27a2.043,2.043,0,0,1-1,.343,1,1,0,0,1-1-1V160a1,1,0,0,1,1-1,2.043,2.043,0,0,1,1,.343c0.688,0.374,10.969,5.269,10.969,5.269A1.581,1.581,0,0,1,437,165.984h0Z", transform="translate(-423 -159)", fill="#3e4a43", fill-rule="evenodd")
                    img._trackPicture(src="", alt="")
                    audio._contentAudio(src="", preload="metadata")
                    ._trackAuthor
                    .content_track-name._contentTrackName
                    .content_track-time._contentTrackTime