mixin social(behance=true)
    .social
        if (behance)
            .social_button.social_button__behance
        .social_button.social_button__linkedin
        .social_button.social_button__google
        .social_button.social_button__facebook
        .social_button.social_button__twitter