mixin nav()
    .nav()
        img.nav_logo(src="../img/logo.svg", alt="")
        .nav_list
            a.nav_link(href='') About
            a.nav_link(href='') Jury
            a.nav_link(href='') Competitors
            a.nav_link(href='') Contact Us