include ../social/social.pug

mixin footer()
    .footer
        .footer_content.layout
            .footer_copy &#169 2014 tulusdriyo. All Rights Reserved.
            .footer_social
                +social()