mixin comments()
    .comments.layout
        .comments_content.layout_section
            .comments_h1 What Our  Tourist Say
            .comments_description
                img.comments_photo(src='../img/comments_photo.png', alt='')
                .comments_info
                    .comments_h3 Sam Sumon
                    p.comments_p But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system