mixin search()
    .search
        form.search_form
            input.search_text(type='text', name='search', placeholder='Search Your Travel Destination', required='')
            input(type='image', name='submit', src='img/zoom.svg')